<% provide(:title, 'About') %>
		<h1> About Us </h1>
		<p> This is just a very basic about page, not really helping us learn anything About Us per se, but doing a great job at helping us pass a failing test! </p>
	