<% provide(:title, 'Contact Us') %>

<p> This is the contact us page! Also known as the contact page! Or rather a Contact Page;)! Also, now I have a brand new super duper suite of tests up and running!
Now it must be running like a dream, I suppose! yay! </p>
<p> Now making it work with a single 'guard' command!</p>



