<% provide(:title, 'Help') %>
		<h1>The Help Page </h1>
		<p>Find me in app/views/static_pages/help.html.erb</p>
		<p>Let's see if we can make the page look a bit more advanced!</p>
		<div>
			<p> Testing some mad !</p>
			<p> Now testing some guard as well!</p>
			<a href="http://www.google.com"> This is a pretty stupid link to Gugel</a>
			<a href="http://www.charlie.com">	
			<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSSNfZGK6-2dNA5Mq2odypVbMWmCLVE59s8PrGlqjkhFsCCP7x2Iw">
			</a>

		</div>
