<% provide(:title, "Home") %>
		<h1>Sample App </h1>
		<p>This is Peter's attempt at creating a ruby app. After a long break we're finally getting back into coding!Find me in app/views/static_pages/home.html.erb</p>
		<a href="http://www.google.com">This is another super basic link to gugel</a>
